<footer class="flex_12 mt30px" itemscope itemtype="http://schema.org/LocalBusiness">
    <div class="footer-box flex_3 t-flex_3">
        <h3>{$header:footer1:static}</h3>
        &copy; {$copyright} <span itemprop="name">{$plugin:widcard:BizOrgName:notag}</span>
    </div>
    <div class="footer-box flex_3 t-flex_3">
        <h3>{$header:footer2:static}</h3>
        <address itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
            <span itemprop="streetAddress">{$plugin:widcard:BizAddress1:notag}</span>
            <span itemprop="addressLocality">{$plugin:widcard:BizCity:notag}</span>,
            <span itemprop="postalCode">{$plugin:widcard:BizZip:notag}</span>
            <span itemprop="addressRegion">{$plugin:widcard:BizState:notag}</span>
            <meta itemprop="addressCountry" content="EN"/>
        </address>
    </div>
    <div class="footer-box flex_3 t-flex_3">
        <h3>{$header:footer3:static}</h3>
        <!-- Include Social links template -->
        {$template:_social links}
    </div>
    <div class="footer-box flex_3 t-flex_3">
        <h3>{$header:footer4:static}</h3>
        <p itemprop="telephone" content="{$plugin:widcard:BizTelephone:notag}">{$plugin:widcard:BizTelephone:notag}</p>
        <a href="mailto:{$plugin:widcard:BizEmail:notag}" itemprop="email">{$plugin:widcard:BizEmail:notag}</a>.
        <a href="{$website:url}" itemprop="url">{$website:url}</a>
    </div>
    <hr class="flex_12">
    <!-- Footer info -->
    <div class="flex_4 text-left">{$content:footer-info:static}</div>
    <!-- Flat Menu -->
    <nav id="flat-menu" class="flex_8 text-right">{$menu:flat}</nav>
    <!-- Microformats -->
    <meta itemprop="name" content="{$plugin:widcard:BizOrgName:notag}" />
    <link itemprop="image" href="{$plugin:widcard:bizLogo:url}" />
    <meta itemprop="priceRange" content="$$" />
</footer>